@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(to bottom right, #130110, #1b2047);
  -webkit-font-smoothing: antialiased;
}

/* width */
.category-scrollbar::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.category-scrollbar::-webkit-scrollbar-track {
  background: #140415;
}

/* Handle */
.category-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(55, 65, 81);
  border-radius: 5px;
}

/* Handle on hover */
.category-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
